/*************************************************************************
	 *
	 * Copyright (c) 2005+ MedHand International AB
	 * All rights reservered.
	 *
	 ***************************************************************
	 *
	 * @(#)book.css
   *
   * DESCRIPTION:
   * ======================
   * CSS for formating MedHand XML(MXML) and iHtml. 
   *
   * CHANGES:
   * ======================
	 * 20111101: added highlight
	 *************************************************************************/

/* highligh color for special highlight span tag wth the below id */
span#s876 {background-color: rgb(255,255,0); }

/* book specific */
.outline-box-background-color			{code:1000;width:100%;margin-top:5px;border: 2px solid rgb(0,160,142);background-color:rgb(225,241,238);}
.section-foreground-color	{code:1002;color:rgb(0,0,0);}
.chapter-foreground-color	{code:1002;color:rgb(0,0,0);}
.div1-foreground-color		{code:1003;color:rgb(0,0,0);}
.div2-foreground-color		{code:1004;color:rgb(0,160,142);}
.div3-foreground-color		{code:1005;font-style:italic;color:rgb(0,0,0);}
.div4-foreground-color		{code:1006;font-style:italic;color:rgb(0,0,0);}
.text-foreground-color		{code:1007;font-style:normal;color:rgb(0,160,142);}

/* iphone specific */
li										{margin-top: -7px;color:rgb(0,160,142);}
.outline {width:100%;}
.inline {width:100%;}

/* iphone-style */
body.iphone-style  {background-color: rgb(225,255,252); }
body.iphone-style div.small-history {background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0,196,176)), to(rgb(225,255,252)));}
body.iphone-style div.history {background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0,196,176)), to(rgb(113,226,214)));}
body.iphone-style p.title {background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(113,226,214)), to(rgb(225,255,252)));}
body.iphone-style .outline-box-background-color				{padding: 5px 10px 5px 10px;-webkit-border-top-left-radius: 8px;-webkit-border-top-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-webkit-border-bottom-right-radius: 8px;}
	